/* reset */
* {
  box-sizing: border-box;
}

/* commons */
.bg-blue {
  background-color: #4ea0ff;
  color: #fff;
}
.bg-yellow {
  background-color: rgb(238, 238, 108);
}
.bg-light-blue {
  background-color: #82dbf7;
}

.text-gray {
  color: lightgray;
}
.text-light-blue {
  color: #82dbf7;
}

.text-small {
  font-size: 10px;
}

h1 {
  font-size: 30px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* header */
#logo {
  width: 210px;
}

header {
  background-image: url(img/pattern.png);
  background-size: contain;
  padding-top: 25px;
}

/* footer */
#monitor {
  background-image: url(img/monitor.jpg);
}

#graph {
  background-image: url(img/graph.jpg);
}

.footer-img {
  background-size: contain;
  width: 200px;
  height: 150px;
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  text-align: center;
}
