/* commons */
.bg-blue {
  background-color: #4ea0ff;
  color: #fff;
}
.bg-yellow {
  background-color: rgb(238, 238, 108);
}
.bg-light-blue {
  background-color: #82dbf7;
}

.text-gray {
  color: lightgray;
}
.text-light-blue {
  color: #82dbf7;
}

.text-small {
  font-size: 10px;
}

h1 {
  font-size: 30px;
}
/* header */
#logo {
  width: 210px;
}
